<div ng-controller="userController">
    <p> <a href="#/app/dashboard">Home</a>  &nbsp;>&nbsp; <a href="#/app/users">Users</a>  &nbsp;>&nbsp; <a href="#/app/user?id=0">Register User</a></p>
    <div class="app-view-header">
        User
    </div>

    <!--<div class="container container-sm animated">-->
    <!-- START row-->
    <div class="row">
        <div class="col-md-12">

            <!--novalidate-->
            <form name="userForm" ng-submit="userSubmit(userForm.$valid)">
                <!-- START panel-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <!--<div class="panel-title">User</div>-->
                    </div>
                    <div class="panel-body">

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="padding-top: 10px">Active</label>
                                <div class="col-sm-6">
                                    <div class="checkbox c-checkbox needsclick">
                                        <label class="needsclick">
                                            <input type="checkbox" value="" class="needsclick" ng-model="model.isActive"/>
                                            <span class="fa fa-check"></span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </fieldset>



                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">First Name*</label>
                                <div class="col-sm-6">
                                    <input type="text" ng-model="model.firstName" required="" class="form-control"/>
                                </div>

                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Last Name*</label>
                                <div class="col-sm-6">
                                    <input type="text" ng-model="model.lastName" required="" class="form-control"/>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email*</label>
                                <div class="col-sm-6">
                                    <input type="email" ng-model="model.email" required="" class="form-control"/>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Password*</label>
                                <div class="col-sm-6">
                                    <input type="password" ng-model="model.password" required="" class="form-control"/>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Confirm Password*</label>
                                <div class="col-sm-6">
                                    <input type="password" ng-model="model.confirmPassword" required="" class="form-control"/>
                                </div>
                            </div>
                        </fieldset>


                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Invied Person*</label>
                                <div class="col-sm-6">
                                    <input type="text" ng-model="model.inviedPerson" required="" class="form-control"/>
                                </div>
                            </div>
                        </fieldset>


                        <!--<fieldset>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Role</label>
                                <div class="col-sm-6">
                                    <select class="form-control" ng-model="model.roleId" required="">
                                        <option ng-repeat="s in roleList" value="{{s.id}}">{{s.roleName}}</option>

                                    </select>
                                </div>
                            </div>
                        </fieldset>-->

                        <div class="mt">
                            
                            <button type="button" class="btn btn-primary" ng-click="cancel()">Cancel</button>
                            <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
                        </div>

                    </div>

                    

                </div>
                <!-- END panel-->
                <!-- END row-->

            </form>
        </div>
    </div>

    <!--</div>-->
</div>